@use "../abstracts/" as a;

.recipe-card-body{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 5%;
}

.recipe-card-product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content:center;
    gap: 2rem;
}

.recipe-link{
   @include a.cardStyling(a.$lavender);
   text-decoration:none;
   border-radius: 3%;

   &:hover{
       h2{
        color:a.$pomegranate;
        transition: .3s;
       }
   }
}

.recipe-img{
    position: relative;

    img{
        display: block;
        height: 356px;
        width: 570px;
        object-fit: none;
        border-radius: 3% 3% 0 0;

    }

    // .image-overlay{
    //     position: absolute;
    //     bottom: 0%;
    //     left: 0;
    //     width: 100%;
    //     height: 20%;
    //     background: rgba(0, 0, 0, 0.6);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: start;
    //     justify-content: center;
    //     opacity: 1;
    
    //     p{
    //         color: a.$white;
    //         font-size: 1.5rem;
    //         font-weight: bold;
    //         margin-left: 5%;
    //     }
    // }
    // @media(hover){
    //     .image-overlay{
    //         opacity:0;
    //     }
    // }
}

.recipe-content{
    padding: 5% 10%;

    .recipe-header{
        margin-bottom: 3%;
        color: a.$charcoal;
    }
    .recipe-description{
        margin-bottom: 3%;
        color: a.$charcoal;
    }
}
